@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,600&display=swap');

body{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    background: rgb(131,58,180);
    justify-content: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,31,253,1) 50%, rgba(252,176,69,1) 100%); 
}

main{
    background-color:#3c1c49;
    width: 98vw;
    height: 98vh;
    justify-content: center;
	border-radius: 52px;
    top: 1vh;
    display: flex;
    align-items: center;
    position: relative;
}

img{
    height: 35vw;
}


.div-pri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
}

h1{
    font-size: 6vh;
    font-weight: 400;
    color:rgb(255, 255, 255);
    filter: brightness(110%);
    text-align: center;
}

form{
    background-color: #b661c5;
    padding: 5vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    height: 55vh;
    width: 18vw;
    color: white;
}

.title-name{
    font-weight: 700;
    margin: 0;
    font-size: 5vh;
}

label{
    font-size: 3vh;
    display: block;
    margin-top: 4vh;
    margin-bottom: 1vh;
}

input[type="text"], input[type="password"]{
    width: 85%;
    font-size: 3vh;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

input[type="submit"]{
    display: block;
    transition: all .1s;
    width: 100%;
    font-size: 5vh;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 1vh;
    padding: 1vh 0;
    background: linear-gradient(to bottom right, #583366, rgb(17, 17, 77));
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    transform: scale(1.07);

    filter: brightness(110%);
}

input[type="submit"]:active{
    filter: brightness(170%);
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        height: fit-content;
    }

    div{
        height: fit-content;
    }

    form {
        width: 70vw;
        height: fit-content;
        margin-top: 10%;
        margin-bottom: 15%;
    }
}