div {
    width: 100%s;
}

header {
    background-color: red;
    color: black;
    text-align: center;
    padding: 20px;
}

.bloco2 {
    background-color: red;
    display: flex;
    padding: 30px;
}

.bloco4 {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,450px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;  
    padding: 20px;  
}

.item2 {
    color: blue;
    border: solid blue 1px;
    padding: 10px;
    display: inline-block;
}

.item {
    background-color: green;
    display: inline-block;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 1%;
}

.item4{
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
}

.azul{
    background-color: blue;
    display: inline-block;
    padding: 10px;
    width: 425px;
    text-align: center;
    margin-left: 10px;
}

.azul2{
    background-color: blue;
    display: inline-block;
    padding: 10px;
    width: 850px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}